/** {
  border: 1px solid red;
}*/
img {
  background-color: blue;
  display: inline;
  float: left;
}
img#a {
  width: 78.69%;
  height: 100px;
}
img#b {
  width: 16.39%;
  height: 600px;
}
img#c {
  width: 31.15%;
  height: 200px;
}
img#d {
  width: 31.15%;
  height: 200px;
}
img#e {
  width: 15.57%;
  height: 250px;
}
img#f {
  width: 15.57%;
  height: 250px;
}
img#g {
  width: 15.57%;
  height: 250px;
}
img#h {
  width: 15.57%;
  height: 250px;
}
img#i {
  width: 62.3%;
  height: 150px;
}
section#a-block {
  width: 78.69%;
  height: 100px;
}
section#b-block {
  width: 16.39%;
  height: 600px;
  display: inline;
}
section#c-block {
  width: 31.15%;
  height: 450px;
  float: left;
  display: inline;
}
section#d-block {
  width: 31.15%;
  height: 450px;
  float: left;
  display: inline;
}
body {
  margin-left: 10%;
  margin-right: 10%;
}
@media only screen and (max-width: 768px){
  * {
    border-color: 1px solid-red;
  }

}
